@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="margin-top:10px;">
    <h1>Country Info</h1>
    <p class="lead">Cultural, Historical, Statistical, Country Information</p>
    <p>Country Info provides over 35,000 pages of online content on the cultures and countries of the world. With unique content from around the world, our members rely on us to keep our database concise and current.</p>
    <p>
        K-12 students, kids, libraries, business and tourists appreciate Country Info's ability to meet their needs.
        
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Compare Countries</h2>
        <p>
            You can easily compare various countries data across the world.
        </p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Capital Cities</h2>
        <p> Country Info Helps to find out Capital Cities of various countries acroos the world.</p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Population Information</h2>
        <p>Get various countries accurate population information on your fingure tip.</p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
</div>